# Environment
venv/
env/
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Sensitive information
secrets.py
.env.local

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Database
*.db
*.sqlite
